body
{
    background: #01261C;
    padding: 0;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}
.profileCard
{
    height: 1920px;
    width: 1080px;
    border-radius: 200px;
    background: #01261C;
    box-shadow:  35px 35px 50px #01130e,
             -35px -35px 50px #02392a;
    display: flex; 
}
.profilePicture
{
    max-height: 663 px;
    max-width: 755 px;
}